<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div *ngIf="line" class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <h2>Información de la Línea</h2>
                    <br>
                    <h3>Nombre: {{line.name}}</h3>
                    <br>
                    <button class="btn btn-sm btn-info" type="button" (click)="goToList()">Volver</button>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive m-t-40">
                            <div class="form-group">
                                <h3>Listado de Sistemas de {{line.name}}</h3>
                                <table id="systemTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th class="text-nowrap">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="line.systems">
                                        <tr *ngFor="let system of line.systems;let i = index">
                                            <td>{{i+1}}</td>
                                            <td>{{system.name | uppercase}}</td>
                                            <td class="text-nowrap">
                                                <a style="cursor: pointer" (click)="goToUpdateSystem(system)" data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a style="cursor: pointer" (click)="deleteSystem(system)" data-toggle="tooltip" data-original-title="Eliminar"> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive m-t-40">
                            <div class="form-group">
                                <h3>Listado de Procedimientos de {{line.name}}</h3>
                                <table id="procedureTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th class="text-nowrap">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="line.procedures">
                                        <tr *ngFor="let procedure of line.procedures;let i = index">
                                            <td>{{i+1}}</td>
                                            <td>{{procedure.name | uppercase}}</td>
                                            <td>{{procedure.description | uppercase}}</td>
                                            <td class="text-nowrap">
                                                <a style="cursor: pointer" (click)="goToUpdateProcedure(procedure)" data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                                <a style="cursor: pointer" (click)="deleteProcedure(procedure)" data-toggle="tooltip" data-original-title="Eliminar"> <i class="fa fa-close text-danger"></i> </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>